.Rproj.user
.Rhistory
.RData
.Ruserdata
biodiversity-sdm-lesson.Rproj
data/wc2-5
data/cmip5/2_5m/*.tif
data/cmip5/2_5m/*.gri
data/cmip5/2_5m/*.grd
data/gadm
data/wc2.1_2.5m
data/climate
data/inaturalist
output/*
!*.gitkeep
!output/*/
img/class-2-slides-*